@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffd100, #202020);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    width: 600px;
    background: transparent;
    box-shadow: 0px 8px 10px #00000080;
    position: absolute;

}

.relogio-titulo{
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 35rem;
    color: #333533;
    font-family: 'Open Sans', sans-serif;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #050505e6;
    box-shadow: 5px 5px 15px #000000b3;
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

.audio-button{
    display: flex;
    align-items: center;
    position: absolute;
    display: inline-block;
    justify-content: center;
    margin-top: 32rem;
}

#button{
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #000000b3;
    color: #ffffff;
    font-family: 'Opens Sans' sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
}

#button:hover{
    background-color: #202020;
}


